@model IEnumerable<Model.Blog>

@if (Model.Any())
{
<ul>
    @foreach (var m in Model)
    {
        <li>@m.BlogId - @m.Url</li>
    }
</ul>
}
else
{
    <p>There are no items.</p>
}

<form action="/" method="post">
    <input type="text" name="url" />
    <input type="submit" value="Create" />
</form>